<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte</servlet-name>
        <servlet-class>Reportes.Reporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controlador.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedidos</servlet-name>
        <servlet-class>controlador.ControladorPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorOfertas</servlet-name>
        <servlet-class>controlador.ControladorOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConsultas</servlet-name>
        <servlet-class>controlador.ControladorConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarPermisos</servlet-name>
        <servlet-class>controlador.IngresarPermisos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRol</servlet-name>
        <servlet-class>controlador.ControladorRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operaciones</servlet-name>
        <servlet-class>controlador.Operaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProductos</servlet-name>
        <servlet-class>controlador.ControladorProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoolSigaa</servlet-name>
        <servlet-class>Conexion.PoolSigaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conectar</servlet-name>
        <servlet-class>Conexion.Conectar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conection</servlet-name>
        <servlet-class>Conexion.Conection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controlador.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte</servlet-name>
        <url-pattern>/Reporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedidos</servlet-name>
        <url-pattern>/cp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorOfertas</servlet-name>
        <url-pattern>/co</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConsultas</servlet-name>
        <url-pattern>/cc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/cu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarPermisos</servlet-name>
        <url-pattern>/cip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRol</servlet-name>
        <url-pattern>/cr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operaciones</servlet-name>
        <url-pattern>/o</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProductos</servlet-name>
        <url-pattern>/cpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoolSigaa</servlet-name>
        <url-pattern>/ps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conectar</servlet-name>
        <url-pattern>/cnn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conection</servlet-name>
        <url-pattern>/conn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
