/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-mar-2015, 8:22:59
    Author     : Mona
*/



label, input, select {
    display: block;
    width: 200px;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    height:22px;
}
label {
    text-align: right;
    width: 150px;
    padding-right: 20px;
    font-size:14px;
}


br {
    clear: left;
}

.marco {
    text-align:center;
    width: 500px;
    margin-left:20%;
}


.style1 {
    font-size: 18px;
    font-weight: bold;
}
.style2 {color: #000000}
.style3 {
    font-size: 12px;
    color: red;
}

.confirmarOK {
    font-size: 12px;
    color: green;
    font-weight: bold;
}



